---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "@/components/icons/Mail.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SuitCase from "@/components/icons/SuitCase.astro";
---

<Layout
  title="Portfolio de Dario - Desarollador y Programador Web"
  description="Contrata a Darío para crear tu aplicación web o móvil. Desarollador Web. Especializado en crear aplicaciones únicas"
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Dario Chinea <a
          href="https://www.linkedin.com/in/dar%C3%ADo-chinea-delgado-87156b257/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>-1 año de experiencia, pero con ganas de aprender.</span>
        <span class="text-yellow-400"> Desarollador Web.</span><span
          class="text-red-400"
        >
          De Tenerife, España.</span
        >
        Especializado en crear aplicaciones únicas
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/dar%C3%ADo-chinea-delgado-87156b257/"
        >
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/DarioCDDev">
          <GitHub class="size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:dariocddev@gmail.com">
          <Mail class="size-6" />
          dariocddev@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <SuitCase class="size-8"/>
        Experiencia laboral</h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
