<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img
    class="rounded-full size-12"
    src="https://elcomercio.pe/resizer/AZ7siJ-pVI4g_V6InSuCYi1wxB8=/580x330/smart/filters:format(jpeg):quality(90)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/4QVVHMRLSNAX5AV2DONRO55XGU.jpg"
    alt="dario photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#about">Sobre mí</a>
    <a href="#projects">Proyectos</a>
    <a href="#experience">Experiencia</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
